@{
    ViewBag.Title = "XChess PVP";
    Layout = "~/Views/Shared/_PlayLayout.cshtml";
}
<div class="wrapper">
    <div class="left-box">
        <div class="chessboard" id="chessboard">
        </div>

    </div>
    <div class="right-boxes">
        <div class="small-box"></div>
        <div class="small-box"></div>
    </div>
</div>
@section scripts{
    <script>

      
    </script>

}