@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*UserArea/User*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User Home</title>
</head>
<body>

    <div>
        <h1>Home  của User  </h1>

        <div class="container mt-3">
            <h3>Thêm mới </h3>
            <a href="javascript:void(0)" onclick="CreateAction('/UserArea/User/Create')" class="btn btn-primary btn-sm btn-secondary m-1">
                <i class="ri-add-line"></i> Thêm mới
            </a>

        </div>    
        @*<div>
            <a href="javascript:void(0)" onclick="NotiSuccess('thành công')" class=" btn btn-primary">Thành công</a>
        </div>
        <div>
            <a href="javascript:void(0)" onclick="NotiError('không thành công')" class=" btn btn-primary">không thành công</a>
        </div>*@

    </div>
    <script>
  /*      Haha()*/
    </script>
</body>


</html>

