
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SendEmail</title>
</head>
<body>
    <div>
        <p>
            Send Email
        </p>
    </div>
    @*<li>@Html.ActionLink("Send Email", "SendEmail", "Home", new { area = "" }, new { @class = "nav-link" })</li>*@
    <form method="post" action="/Home/SendEmail">
        <!-- Tiêu đề (Input type="text") -->
        <label for="TextInput">Tiêu đề:</label><br>
        <input type="text" id="TextInput" name="TextInput"><br><br>

         Nội dung (Textarea) 
        <label for="TextArea">Nội dung:</label><br>
        <textarea id="TextArea" name="TextArea" rows="4" cols="50"></textarea><br><br>
         @*Nội dung có thể chỉnh sửa (ContentEditable) 
        <label for="EditableDiv">Nội dung chỉnh sửa:</label><br>
        <div contenteditable="true" id="EditableDiv" style="border: 1px solid #ccc; padding: 10px; width: 100%; min-height: 100px;">Nhập văn bản tại đây...</div><br><br>*@

        <button type="submit">Gửi</button>
    </form>
</body>
</html>
