<div class="custom-card rounded-4 d-flex flex-column align-items-center gap-3">
    <input
        type="text"
        class="form-control form-control-sm rounded-pill text-center"
        placeholder="Enter room code or name"
        style="width: 100%; border: 2px solid #b5ccff;"
    />

    <button class="btn btn-dark w-100 rounded-pill fw-semibold">
        Join Room
    </button>
</div>